<div class="main container">
    <div class="panel panel-default single"  style="margin-top:100px;">
        <div class="panel-body">
            <h2>注册</h2>
            <div class="form-group" id="nickname-div">
                <label for="username">用户名</label>
                <input class="form-control" id="username" name="username" placeholder="给自己起个响当当的昵称吧" type="text" value="">
                <p class="help-block" id="username-error"></p>
            </div>

            <div class="form-group" id="email-div">
                <label for="email">邮箱</label>
                <input class="form-control" id="email" name="email" type="email" value="">
                <p class="help-block" id="email-error"></p>
            </div>

            <div class="form-group"  id="password-div">
                <label for="password">密码</label>
                <input class="form-control" id="password" name="password" type="password" value="">
                <p class="help-block" id="password-error"></p>
            </div>
            <div class="alert alert-error" style="padding: 8px;display:none;"></div>
            <div class="form-group">
            <button class="btn btn-primary"id="register">注册</button>
            <a class="btn btn-link" href="/account/signin">已有账户？</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/user.js"></script>